<a href="https://colab.research.google.com/github/suyash-jamdade/Recommendation-systems/blob/master/content_based_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
!wget -O moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  19.4MB/s    in 9.5s

2020-04-09 16:54:06 (16.1 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt
%matplotlib inline

In [30]:
# storing the movie information into pandas
movies_df = pd.read_csv('movies.csv')
#storing the user information into pandas
ratings_df = pd.read_csv('ratings.csv')

movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [32]:
#we specify the parantheses so we don't conflicts with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False) 
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

   movieId  ... year
0        1  ...  NaN
1        2  ...  NaN
2        3  ...  NaN
3        4  ...  NaN
4        5  ...  NaN

[5 rows x 4 columns]

In [33]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

   movieId  ... year
0        1  ...  NaN
1        2  ...  NaN
2        3  ...  NaN
3        4  ...  NaN
4        5  ...  NaN

[5 rows x 4 columns]

In [34]:
moviesWithGenres_df = movies_df.copy()

for index, row in movies_df.iterrows():
  for genre in row['genres']:
    moviesWithGenres_df.at[index, genre] = 1

moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

   movieId                        title  ... Film-Noir  (no genres listed)
0        1                    Toy Story  ...       0.0                 0.0
1        2                      Jumanji  ...       0.0                 0.0
2        3             Grumpier Old Men  ...       0.0                 0.0
3        4            Waiting to Exhale  ...       0.0                 0.0
4        5  Father of the Bride Part II  ...       0.0                 0.0

[5 rows x 24 columns]

In [41]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [36]:
ratings_df = ratings_df.drop('timestamp',1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [52]:
###############you can add more movies ####################### 
userInput = [
             {'title' : 'Breakfast Club ,The', 'rating' :5},
             {'title' :'Toy Story' ,'rating':3.5},
             {'title' : 'Pulp Fiction', 'rating':5},
             {'title' : 'Akira', 'rating':4.5},
             {'title' : 'Waiting to Exhale','rating':4}
]
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club ,The     5.0
1            Toy Story     3.5
2         Pulp Fiction     5.0
3                Akira     4.5
4    Waiting to Exhale     4.0

In [53]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId ,inputMovies)
inputMovies = inputMovies.drop('genres' , 1).drop('year',1)
inputMovies

   movieId              title  rating
0        1          Toy Story     3.5
1        4  Waiting to Exhale     4.0
2      296       Pulp Fiction     5.0
3     1274              Akira     4.5

In [54]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

      movieId              title  ... Film-Noir  (no genres listed)
0           1          Toy Story  ...       0.0                 0.0
3           4  Waiting to Exhale  ...       0.0                 0.0
293       296       Pulp Fiction  ...       0.0                 0.0
1246     1274              Akira  ...       0.0                 0.0

[4 rows x 24 columns]

In [55]:
#resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues 
userGenreTable = userMovies.drop('movieId', 1).drop('title' ,1).drop('genres',1).drop('year',1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        0.0        0.0       0.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0

[4 rows x 20 columns]

In [56]:
inputMovies['rating']

0    3.5
1    4.0
2    5.0
3    4.5
Name: rating, dtype: float64

In [57]:
#Dot product to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure              8.0
Animation              8.0
Children               3.5
Comedy                12.5
Fantasy                3.5
Romance                4.0
Drama                  9.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [58]:
#extracting genres table from original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year' ,1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [59]:
genreTable.shape

(34208, 20)

In [60]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.525926
2    0.222222
3    0.244444
4    0.377778
5    0.185185
dtype: float64

In [61]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
27344    0.733333
26093    0.718519
75408    0.711111
4719     0.711111
76153    0.711111
dtype: float64

In [64]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())].head(10).drop('movieId',1).drop('year',1)

                                                   title                                             genres
1824                                               Mulan  [Adventure, Animation, Children, Comedy, Drama...
4625                                       Osmosis Jones  [Action, Animation, Comedy, Crime, Drama, Roma...
4861                                      Stunt Man, The  [Action, Adventure, Comedy, Drama, Romance, Th...
4923                                            Motorama  [Adventure, Comedy, Crime, Drama, Fantasy, Mys...
6793                                       Interstate 60  [Adventure, Comedy, Drama, Fantasy, Mystery, S...
8605          Wonderful World of the Brothers Grimm, The  [Adventure, Animation, Children, Comedy, Drama...
9296   Revolutionary Girl Utena: Adolescence of Utena...  [Action, Adventure, Animation, Comedy, Drama, ...
10575                                     Chicken Little  [Action, Adventure, Animation, Children, Comed...
13250                                  The Wrecking Crew  [Action, Adventure, Comedy, Crime, Drama, Thri...
15001  Lupin III: Sweet Lost Night (Rupan Sansei: Swe...  [Action, Animation, Comedy, Crime, Drama, Myst...